<% if user_signed_in? %>
  <h1>All examinations</h1>  
  <table class="table">
    <% unless @subjects.nil? %>
      <thead>
        <th style="text-align:right">
          <%= render "search" %>
          <%= render "search_remote" %>
        </th>
        <% unless current_user.admin? %>
          <%= form_for @exam do |f| %>  
            <th style="text-align:right">Subject</th>          
            <th><%= collection_select :exam, :subject_id, Subject.all, :id, :name %></th>
            <th>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :status, value: 0 %>
            </th>
            <th><%= f.submit "Create examination", class: "btn btn-primary" %></th>
          <% end %>
        <% end %>
      </thead>
    <% end %>
    <% unless @exams.nil? %>
      <table class="table">
        <thead>
          <tr>
            <% if current_user.admin? %>
              <th>At</th>
              <th>Subject name</th>
              <th>Timer</th>
              <th>User name</th>
              <th>Mark</th>
            <% else %>
              <th>At</th>
              <th>Subject name</th>
              <th>Timer</th>
              <th>Mark</th>
            <% end %>
          </tr>
        </thead>
        <tbody id="exams">
            <%= render @exams.order('created_at DESC') %>
        </tbody>
      </table>
      <%= will_paginate @exams %>
    <% end %>
  </table>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Framgia Test System</h1>
    <h2>
      This is the home page for the
      <a href="">Framgia Test System</a>
      develop by Le Minh Tuan and Nguyen Thi Kim Chi.
    </h2>
  </div>
<% end %>