<li>
  <% if user.avatar_url.nil? %>
    <%= image_tag "https://secure.gravatar.com/avatar/1?s=50", class: "gravatar" %>
  <% else %>
    <%= image_tag user.avatar.thumbnail.url, class: "gravatar" %>
  <% end %>
  <%= link_to user.name, edit_admin_user_path(user) %>
  <p>
    <%= user.admin? ? 'Admin' : 'User'%>
    <% unless current_user == user %>
      | <%= link_to "delete", admin_user_path(user), 
        method: :delete, data: {confirm: "You sure?"} %>
    <% end %>
  </p>
</li>
