<tr>
  <td><%= exam.created_at %></td>
  <td><%= link_to_if !exam.mark.nil?, exam.subject.name, exam %></td>
  <td>
    <% unless exam.time.nil? %>
      <%= exam.time.strftime('%H:%M:%S') %>
    <% end %>
  </td>
  <% if current_user.admin? %>
    <td><%= exam.user.name %></td>
    <td><%= exam.mark %></td>
  <% else %>  
    <% if exam.new? %>
      <td><%= link_to "Start", edit_exam_path(exam) %></td>
    <% else %>
      <% if exam.done? %>
        <td><%= link_to "Done", exam %></td>
      <% else %>
        <td><%= exam.mark %></td>
      <% end %>
    <% end %>
  <% end %>
</tr>
