<% provide(:title, 'Examination') %>
<h1><%= @exam.subject.name %></h1>
<h1><span id="countdown">20:00:00</span></h1>
<%= form_for @exam, html: {id: :exam_form} do |f| %>
    <ul class="users">
      <% @questions.each_with_index do |question, index| %>
        <li><%= index+1 %>. <%= question.content %></li>
        <ul>
          <%= collection_check_boxes(:exam, :answer_ids, question.answers, :id, :content) do |b|%>
            <li>
              <%= b.label(:"data-value" => b.value) {b.check_box} %>
              <%= b.text %>
            </li>            
          <% end %>
        </ul>
      <% end %>
  </ul>
  <%= f.hidden_field :time, id: "time"  %>
  <%= f.submit "Submit", class: "btn btn-primary", disabled: !@exam.mark.nil? %>
<% end %>

<% if @exam.mark.nil? %>
  <script>
    init();
    handle_link();
  </script>
<% end %>