<% provide(:title, 'Examination') %>
<h1><%= @exam.subject.name %></h1>
<% if @exam.checked? %>
  <h1>Mark: <%= @exam.mark %></h1>
<% end %>
<%= link_to "Export Exam", exam_path(@exam, :csv) %>
<ul class="users">
  <% @questions.each_with_index do |question, index| %>
    <li><%= index + 1 %>. <%= question.content %></li>
    <ul>
      <% if question.kind == 1 %>
        <%= collection_check_boxes(:exam, :answer_ids, question.answers, :id, :content) do |b|%>
          <li>
            <%= b.check_box disabled: "disabled" %>
            <%= b.text %>
          </li>            
        <% end %>
      <% else %>
        <% @exam.responses.with_question_id(question.id).each do |response| %>
          <li><input value="<%= response.answer_content %>", disabled="disabled" /></li>
        <% end %>        
      <% end %>
      <% if @exam.checked? %>
        <li>
          <% if @exam.approvals.with_question_id(question.id)[0].correct? %>
            <b style="color:green">Correct answer</b>
          <% else %>
            <b style="color:red">Incorrect answer</b>
          <% end %>
        </li>
      <% end %>
    </ul>    
  <% end %>
</ul>