<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Framgia test system", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li>
            <% if current_user.admin? %>
              <%= link_to "Users", admin_users_path %>
            <% end %>
          </li> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>              
                <li><%= link_to "Profile", admin_user_path(current_user) %></li>
                <li><%= link_to "Settings", edit_admin_user_path(current_user) %></li>
              <% else %>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_registration_path %></li>
              <% end %>              
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>